<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
<h1>Appointments</h1>
<table>
    <tr>
        <th>Department ID</th>
        <th>Symptom</th>
        <th>Appointment Time</th>
        <th>Registration Time</th>
        <th>Action</th>
    </tr>
    <tr th:each="appointment : ${registeration}">
        <td th:text="${appointment.dept_id}">Department ID</td>
        <td th:text="${appointment.symptom}">Symptom</td>
        <td th:text="${appointment.treat_time}">Appointment Time</td>
        <td th:text="${appointment.registration_time}">Registration Time</td>
        <td>
            <form th:action="@{/appointments/cancel}" method="post">
                <input type="hidden" name="appointmentId" th:value="${appointment.registration_id}"/>
                <button type="submit">Cancel</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
