<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
<h1>예약 목록</h1>

<form action="#" th:action="@{/appointments}" th:method="get">
    <label for="patientId">환자 ID로 검색:</label>
    <input type="number" id="patientId" name="patientId">
    <button type="submit">검색</button>
</form>

<table>
    <thead>
    <tr>
        <th>환자 이름</th>
        <th>의사 이름</th>
        <th>예약 시간</th>
        <th>취소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.patient.patient_name}">환자 이름</td>
        <td th:text="${appointment.doctor.doctor_name}">의사 이름</td>
        <td th:text="${appointment.appointmentDate}">예약 시간</td>
        <td>
            <form action="#" th:action="@{/appointments/cancel/{id}(id=${appointment.appointment_id})}" th:method="post">
                <button type="submit">취소</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<a th:href="@{/appointments/new}">새 예약</a>

</body>
</html>
