<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments List</title>
</head>
<body>
<h1>예약 확인</h1>
<hr>
<table>
    <thead>
    <tr>
        <th>환자 이름</th>
        <th>부서</th>
        <th>의사 이름</th>
        <th>예약 시간</th>
        <th>취소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.patient != null ? appointment.patient.patient_name : 'N/A'}">환자 이름</td>
        <td th:text="${appointment.doctor != null && appointment.doctor.dept != null ? appointment.doctor.dept.deptName : 'N/A'}">부서</td>
        <td th:text="${appointment.doctor != null ? appointment.doctor.doctorName : 'N/A'}">의사 이름</td>
        <td th:text="${#temporals.format(appointment.appointmentDate, 'yyyy-MM-dd HH:mm')}">예약 시간</td>
        <td>
            <form action="#" th:action="@{/appointments/cancel/{id}(id=${appointment.appointment_id})}" th:method="post">
                <button type="submit">취소</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/home/dashboard}">뒤로</a>
</body>
</html>
