<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password Update</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function validatePasswords() {
            var newPassword = document.getElementById('newPassword').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (newPassword !== confirmPassword) {
                alert('새로운 비밀번호와 확인용 비밀번호가 일치하지 않습니다.');
                return false; // 폼 전송 방지
            }
            return true; // 폼 전송 허용
        }
        /*]]>*/
    </script>
</head>
<body>
<h1>Password Update</h1>
<form th:action="@{/member/updatePassword}" method="post" onsubmit="return validatePasswords()">
    <div>
        <label for="currentPassword">현재 비밀번호:</label>
        <input type="password" id="currentPassword" name="currentPassword" required/>
    </div>
    <div>
        <label for="newPassword">새로운 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword" required/>
    </div>
    <div>
        <label for="confirmPassword">새로운 비밀번호 확인:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required/>
    </div>
    <button type="submit">변경</button>
</form>

</body>
</html>
