body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar-brand img {
    margin-right: 10px;
}

.bg-image {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.content {
    position: relative;
    z-index: 2;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px; /* 추가: 푸터와 겹치지 않도록 하단 여백을 추가합니다 */
}

.footer {
    position: relative; /* 수정: 푸터가 페이지 끝에 위치하도록 설정합니다 */
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* 어두운 색상으로 변경 */
    color: #adb5bd; /* 텍스트 색상 */
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:hover {
    color: #343a40;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.card-header {
    background-color: #343a40;
    color: white;
}

.card-footer {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
